/* src/styles/home.css */

.hero {
  background: #edcfe7;
}

.hero__inner {
  max-width: min(1280px, 96vw);
  margin: 0 auto;
  padding: 48px 20px;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 28px;
  align-items: center;
}

.hero__kicker {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(0,0,0,0.65);
  margin: 0 0 12px;
}

.hero__title {
  font-family: "Poppins", sans-serif;
  font-size: clamp(36px, 4vw, 52px);
  line-height: 1.05;
  margin: 0 0 12px;
  color: #1b1b1b;
}

.hero__titleAccent {
  color: #9a031e;
}

.hero__desc {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: rgba(0,0,0,0.65);
  max-width: 46ch;
  margin: 0 0 20px;
}

.hero__actions {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.btn {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn--primary {
  background: #111;
  color: #fff;
}

.btn--ghost {
  background: transparent;
  color: #111;
  border: 1px solid rgba(0,0,0,0.35);
}

/* Lado direito */
.hero__right {
  position: relative;
  min-height: 320px;
  display: grid;
  place-items: center;
}


.hero__imgWrap {
  position: relative;
  z-index: 2;
  width: min(590px, 100%);
  aspect-ratio: 1/1.2;
  border-radius: 18px;
  overflow: hidden;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: transparent;
}

/* Sobre mim */
.about {
  background: #1f1f1f;
  color: #fff;
  height: 500px;
}

.about__inner {
  max-width: min(1280px, 96vw);
  margin: 0 auto;
  padding: 44px 20px 70px;
  text-align: center;
  position: relative;
}

.about__title {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  margin: 0 0 14px;
}

.about__text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 1.7;
  color: rgba(255,255,255,0.8);
  max-width: 90ch;
  margin: 0 auto 26px;
}

.about__stats {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.stat__num {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 44px;
  color: #eac9e2;
  margin-bottom: 6px;
}

.stat__label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: rgba(255,255,255,0.9);
}

.about__dot {
  width: 200px;
  height: 100px;
  background: #9a031e;
  border-radius: 120px 120px 0px 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -67px;
  opacity: 0.9;

}

/* Responsivo */
@media (max-width: 900px) {
  .hero__inner {
    grid-template-columns: 1fr;
  }
  .hero__right {
    min-height: 260px;
  }

}
